.main{
  	width: 1024px;
  	height: 667px;
  	background-color: rgb(38, 235, 201);
  	font-family: 'Lato', sans-serif;
  	font-size: 12px;
  	line-height: 16px;
  	color: #949499;

}
.main{
	margin-bottom: 30px;
}
.title{
	padding-left:49px;
	padding-top:40px;
	font-size: 58px;
	line-height: 45px;
	letter-spacing: -2px;
	color: #FFF;
	font-family: 'Conduit', sans-serif;
	text-transform:uppercase;
}
.subtext{
	padding-left:51px;
	padding-top:16px;
	font-size: 14px;
	line-height: 18px;
	color: #58595B;
	width:480px;
	height:130px;
	float:left;
}
.subtext .intro{
	padding-top: 3px;
}
.schedule_area{
	padding-top: 16px;
}
.innovation_line{
	float:left;
	padding-right: 10px;
	padding-top: 4px;
}
.schedule_text{
	font-size: 14px;
  	line-height: 19px;
  	color: #FFF;
  	text-transform:uppercase;
  	font-weight: bold;
}
.schedule_button{
	padding-top: 2px;
	border: 0;
}

.text_part{
	position: relative;
	top:26px;
	left: 32px;
	background-color: #FFF;
	width: 958px;
	height: 395px;
	float: left;
}

.area_first{
	width:226px;
	height:458px;
	/*padding: 16px 5px 0px 16px;*/
	padding: 19px 1px 0px 19px;
	float: left;
}
.area_second{
	width:223px;
	height:458px;
	padding: 19px 0px 0px 10px;
	float: left;
}
.area_third{
	width:217px;
	height:458px;
	padding: 19px 10px 0px 15px;
	float: left;
}
.area_fourth{
	width:223px;
	height:458px;
	padding: 19px 0px 0px 8px;
	float: left;
}

.innovation_image{
	width: 212px;
	height: 110px;
	padding-bottom: 16px;
}
.area_title{
	font-weight: bold;
	color: rgb(38, 235, 201);
	text-transform:uppercase;
}
.area_text{

}