p{
  margin-bottom: 0px !important;
  margin-left: 16px!important;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.msg_lbox_bg{
  width:100%;
  min-width:1024px !important;
  height:100%;
  background-color:rgb(224,224,224);
  opacity: 0.8;
  position:absolute;
  top:0px;
  left:0px;
  z-index: 1500;
  display: none;
  cursor: pointer;
}
.msg_close_wrap{
  width:1024px;
  height: 47px;
  margin-top:64px;
  margin-left:auto;
  margin-right:auto;
}
.msg_close{
  width:34px;
  height:47px;
  background-image:url('../img/button/fancy_close.png');
  float: right;
  margin-right:51px;
  cursor: pointer;
}
@media only screen and (device-width: 768px) {
    .msg_close{
    width:34px;
    height:47px;
    background-image:url('../img/button/fancy_close.png');
    float: right;
    margin-right:36px;
    cursor: pointer;
  }
}
.main{
  	width: 1024px;
    height:659px;
  	/*background-image:url('../img/a_closer_look/newsletter/newsletter_bg.jpg');*/
  	font-family: 'Lato', sans-serif;
  	font-size: 14px;
  	line-height: 19px;
  	color: #949499;
  	margin-bottom: 26px;
  	opacity: 0;
}

.title{
	padding-left:49px;
	padding-top:40px;
	font-size: 58px;
	line-height: 45px;
	letter-spacing: -1px;
	color:rgb(38,235,201);
	font-family: 'Conduit', sans-serif;
	text-transform:uppercase;
}
.msg_title{
  width:358px;
  height:40px;
  font-family: 'Conduit';
  color:rgb(38,235,201);
  font-size:58px;
  letter-spacing: -1px;
  margin-top:14px;
  margin-left:14px;
  line-height: 40px;
}
.msg_content{
  width:490px;
  height:80px;
  margin-top: 20px;
  margin-left:14px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
  color:rgb(88,89,91);
  letter-spacing: 0px;
  font-size:14px;
  line-height: 19px;
}
.form_box{
	margin-top : 224px;
	margin-left: 36px;
	position: absolute;
	background-color: #FFF;
	width: 253px;
	height: 436px;
}

.text_area{
	width: 220px;
	height:100px;
	margin-left: 16px;
	margin-top:12px;
	margin-bottom: 16px;
}
.input_area{
	width:220px;
	height:300px;
	margin-left: 0px;
	margin-top:0px;
}

input[type=text]{
    color:rgb(88,89,91);
    width:220px;
    *width: 216px;
    width: 216px\0/;
    height: 21px;
    text-decoration: none;
    background-color:rgb(226,227,229);
    margin-top: 0px !important;
    margin-bottom: 16px;
    border:0 !important;
    border-radius: 0 !important;
    color:rgb(191,191,191);
    padding-left:4px!important;
    padding-top:0px!important;
    padding-right:0px!important;
    padding-bottom:0px!important;
}
input[type=email]{
    color:rgb(88,89,91);
    width:220px;
    *width: 216px;
    width: 216px\0/;
    height: 21px;
    text-decoration: none;
    background-color:rgb(226,227,229);
    margin-top: 0px !important;
    margin-bottom: 18px;
    border:0 !important;
    border-radius: 0 !important;
    padding-left:4px!important;
    padding-top:0px!important;
    padding-right:0px!important;
    padding-bottom:0px!important;
}
input[type=submit]{
    background-image: url('../img/button/submit.jpg') !important;
    background-position:  0px 0px;
    width:44px;
    height:14px;
    background-repeat: no-repeat;
    border:0 !important;
    border-radius: 0 !important;
    box-shadow:none !important;
    color:transparent !important;
    margin-top: 90px;
    margin-left: 176px;
}
#recaptcha_reload_btn { position: absolute; left:158px; top:7px; width:12px; height:9px;z-index: 100;}
#recaptcha_switch_audio_btn { position: absolute; top:16px; left:158px; width:12px; height:9px;z-index: 100; }
#recaptcha_switch_img_btn { position: absolute; top:16px; left:158px; width:12px; height:9px;z-index: 100; }
#recaptcha_whatsthis_btn { position: absolute; top:23px; left:158px; width:12px; height:9px; z-index: 100;}
#recaptcha_logo {
  position: absolute; 
  top:10px; 
  left:175px;
  width: 38px !important;
  height: 22px !important;
}

#recaptcha_table{
  position: absolute;
  width:220px !important;
  height: 72px !important;
  margin-top: 0 !important;
  margin-left: 16px !important;
  *margin-left: 16px !important;
  margin-left: 16px\0/ !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;

}

#recaptcha_image, #recaptcha_table tr, #recaptcha_table td
 {
    position: absolute;
    width: 215px !important;
    height: 36px !important;
    margin: 0 !important;
    padding: 0 !important;
}

#recaptcha_image, #recaptcha_image img{
  width: 150px !important;
  height: 30px !important;
  left:3px;
  top:3px;
}


#recaptcha_response_field
{
  position: absolute;
  top: 40px;
  width: 152px !important;
  height: 21px !important;
  background-color: white;
  z-index: 1000;
  border:1px solid rgb(88,89,91) !important;
  margin-left:3px;
}

#recaptcha_privacy{
  margin:0px;
  padding: 0px;
  position: absolute;
  top: 42px;
  left:157px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
  color:rgb(88,89,91);
  letter-spacing: 0px;
  font-size:8px;
}
#recaptcha_privacy a{
  color:rgb(191,191,191);
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
  font-size:14px;
  color:rgb(191,191,191);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
  font-size:14px;
  color:rgb(191,191,191);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
  font-size:14px;
  color:rgb(191,191,191);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
  font-size:14px;
  color:rgb(191,191,191);
}

/*contactform output*/
div.wpcf7 {
  position: relative;
  margin: 0;
  padding: 0;
}

div.wpcf7-response-output {
/*  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(0,0,0);
    letter-spacing: 0px;
    font-size:16px;
    line-height: 20px;
  width:490px;
  height:140px;
  position: absolute;
  top:-175px;
  left:0px;
  background:rgb(255,255,255);
  z-index: 2000;
  text-align: left !important;*/
}
.newsletter_output{
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
  color:rgb(0,0,0);
  letter-spacing: 0px;
  font-size:16px;
  line-height: 20px;
  width:490px;
  height:140px;
  position: absolute;
  top:-311px;
  left:0px;
  background:rgb(255,255,255);
  z-index: 2000;
  text-align: left !important;
}
div.wpcf7-mail-sent-ok {
/*  border: 2px solid #398f14;*/
}

div.wpcf7-mail-sent-ng {
/*  border: 2px solid #ff0000;*/
}

div.wpcf7-spam-blocked {
/*  border: 2px solid #ffa500;*/
}

div.wpcf7-validation-errors {
/*  border: 2px solid #f7e700;*/
}

span.wpcf7-form-control-wrap {
  position: relative;
}

/*span.wpcf7-not-valid-tip {
  position: absolute;
  top: 12px;
  left: 0px;
  z-index: 1000;
  background: rgba(38,235,201,0.6);
  font-size: 10pt;
  width: 180px;
  padding: 1px 8px 1px 32px;
  font-family: 'Lato';
    color:white;
    margin:0px !important;
}*/

span.wpcf7-not-valid-tip-no-ajax {
  color: #f00;
  font-size: 10pt;
  display: block;
}

span.wpcf7-list-item {
  margin-left: 0.5em;
}

.wpcf7-display-none {
  display: none;
}

div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  margin-left: 4px;
}

div.wpcf7 div.ajax-error {
  display: none;
}

div.wpcf7 .placeheld {
  color: #888;
}
.recaptcha-820 .wpcf7-not-valid-tip{
  position: absolute;
  top: 72px;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 200px;
  padding: 2px 0px 4px 20px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
    line-height: 12px;
    margin-left: 16px;
}
.recaptcha-55 .wpcf7-not-valid-tip{
  position: absolute;
  top: 72px;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 200px;
  padding: 2px 0px 4px 20px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
    line-height: 12px;
}
.message .wpcf7-not-valid-tip{
  position: absolute;
  top: 212px;
  *top: 14px;
  top: 14px\0/;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 180px;
  padding: 1px 0px 1px 40px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
}

.first-name .wpcf7-not-valid-tip{
  position: absolute;
  top: 19px;
  *top: 17px;
  top: 17px\0/;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 180px;
  padding: 1px 0px 1px 40px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
}
.firstname .wpcf7-not-valid-tip{
  position: absolute;
  top: 19px;
  *top: 17px;
  top: 17px\0/;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 180px;
  padding: 0px 0px 1px 40px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
}
.last-name .wpcf7-not-valid-tip{
  position: absolute;
  top: 19px;
  *top: 17px;
  top: 17px\0/;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 180px;
  padding: 1px 0px 1px 40px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
}
.lastname .wpcf7-not-valid-tip{
  position: absolute;
  top: 19px;
  *top: 17px;
  top: 17px\0/;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 180px;
  padding: 0px 0px 1px 40px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
}
.phone-number .wpcf7-not-valid-tip{
  position: absolute;
  top: 19px;
  *top: 17px;
  top: 17px\0/;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 180px;
  padding: 1px 0px 1px 40px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
}
.email-address .wpcf7-not-valid-tip{
  position: absolute;
  top: 19px;
  *top: 17px;
  top: 17px\0/;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 180px;
  padding: 1px 0px 1px 40px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
}
.email .wpcf7-not-valid-tip{
  position: absolute;
  top: 19px;
  *top: 17px;
  top: 17px\0/;
  left: 0px;
  z-index: 1000;
  background: rgb(180,255,240);
  font-size: 8pt;
  width: 180px;
  padding: 1px 0px 1px 40px;
  font-family: 'Lato' Arial,Helvetica,sans-serif !important;
    color:rgb(88,89,91);
}
@-moz-document url-prefix() { 
  .message .wpcf7-not-valid-tip{
  position: absolute;
  top: 199px;
  left: 0px;
  }
  .first-name .wpcf7-not-valid-tip{
  position: absolute;
  top: 17px;
  left: 0px;
  z-index: 1000;
  }
  .firstname .wpcf7-not-valid-tip{
  position: absolute;
  top: 17px;
  left: 0px;
  z-index: 1000;
  }
  .last-name .wpcf7-not-valid-tip{
  position: absolute;
  top: 17px;
  left: 0px;
  }
  .lastname .wpcf7-not-valid-tip{
  position: absolute;
  top: 17px;
  left: 0px;
  }
  .phone-number .wpcf7-not-valid-tip{
  position: absolute;
  top: 17px;
  left: 0px;
  }
  .email-address .wpcf7-not-valid-tip{
  position: absolute;
  top: 17px;
  left: 0px;
  }
  .email .wpcf7-not-valid-tip{
  position: absolute;
  top: 17px;
  left: 0px;
  }

}
